.body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.square {
    flex: 1;
    border: 1px solid black;
}